<div class="card">
    <%= link_to image_tag(baseball.image, class: :card__image) %>
  <div class="card__body">
    <%= link_to baseball.title, class: :card__title %>
    <p class="card__summary">  
      <%= baseball.content %>
    </p>
  </div>
</div>